.git

*.test.yaml
LICENSE
terraform/.terraform
.idea
*.tfstate
*.backup
*.tfvars
build.sh
run.sh
*.md

openshift-ansible/docs
openshift-ansible/examples
openshift-ansible/test
orchestration/openshift-aws