.git
*/.git
.idea
*/.idea
.terraform
*/.terraform
*.tfstate
*.backup
*.example
openshift-process/src
openshift-process/pkg
openshift-process/generated
.github
*/.github
openshift-ansible/docs
openshift-ansible/examples
