[OSEv3:children]
masters
nodes
etcd

[OSEv3:vars]
ansible_user=centos
ansible_become=true
ansible_ssh_common_args='-F {{ .SshConfig }} -o StrictHostKeyChecking=no -o ControlMaster=auto -o ControlPersist=30m'

deployment_type=origin
openshift_deployment_type=origin
openshift_clock_enable=true
openshift_use_dnsmasq=true
os_firewall_use_firewalld=true

openshift_router_selector='region=infra'
openshift_registry_selector='region=infra'
template_service_broker_selector='region=infra'

openshift_master_cluster_method=native
ansible_service_broker_install=false

openshift_release='{{ .OriginRelease }}'

openshift_master_default_subdomain='{{ .RoutesDomain }}'
openshift_master_cluster_hostname='{{ .InternalMaster }}'
openshift_master_cluster_public_hostname='{{ .ExternalMaster }}'

osm_use_cockpit=true

openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]
openshift_master_htpasswd_users={'admin': '$apr1$zgSjCrLt$1KSuj66CggeWSv.D.BXOA1', 'user': '$apr1$.gw8w9i1$ln9bfTRiD6OwuNTG5LvW50'}

{{ if .Debug }}
openshift_disable_check=docker_storage,memory_availability,package_version
{{ end }}

{{ if .AggregatedLogging }}
openshift_logging_install_logging=true
openshift_logging_image_version='{{ .OriginRelease }}'

openshift_logging_use_ops=false
openshift_logging_es_pvc_storage_class_name=gp2
openshift_logging_es_pvc_dynamic=true

#openshift_logging_master_public_url='{{ .ExternalMaster }}:8443'
#openshift_logging_kibana_hostname='kibana.{{ .RoutesDomain }}'
#openshift_logging_master_url='{{ .InternalMaster }}:8443'
{{ end }}


{{ if .ClusterMetrics }}
openshift_metrics_install_metrics=true
openshift_metrics_image_version='{{ .OriginRelease }}'
openshift_metrics_cassandra_storage_type=dynamic
{{ end }}


{{ if .EnableEbs }}
openshift_cloudprovider_kind=aws
openshift_clusterid='{{ .ClusterId }}'
{{ end }}

[masters]
{{ range .Masters }}
{{ . | printNode }}
{{ end }}

[etcd]
{{ range .Masters }}
{{ .InternalIp }}
{{ end }}

[nodes]
{{ range .Masters }}
{{ . | printNode }}
{{ end }}

{{ range .Infras }}
{{ . | printNode }}
{{ end }}

{{ range .Apps }}
{{ . | printNode }}
{{ end }}

