[OSEv3:children]
masters
nodes


[OSEv3:vars]
ansible_user=centos
ansible_become=true
ansible_ssh_common_args='-F {{ .SshConfig }} -o StrictHostKeyChecking=no -o ControlMaster=auto -o ControlPersist=30m'


{{ if .Debug }}
openshift_disable_check=docker_storage,memory_availability,package_version
{{ end }}


openshift_deployment_type=origin
openshift_release={{ .OriginRelease }}

#public master url
openshift_master_default_subdomain='{{ .RoutesDomain }}'
openshift_master_cluster_hostname='{{ .InternalMaster }}'
openshift_master_cluster_public_hostname='{{ .ExternalMaster }}'


# true creates second cluster for operations log
openshift_logging_use_ops=false
openshift_logging_install_logging=true
openshift_logging_es_pvc_storage_class_name=gp2
openshift_logging_es_pvc_dynamic=true


# internal master url
openshift_logging_master_public_url='{{ .ExternalMaster }}:8443'
openshift_logging_kibana_hostname='kibana.{{ .RoutesDomain }}'
openshift_logging_master_url='{{ .InternalMaster }}:8443'


openshift_cloudprovider_kind=aws
openshift_clusterid='{{ .ClusterId }}'


[masters]
{{ range .Masters }}
{{ .InternalIp }}
{{ end }}



[nodes]
{{ range .Masters }}
{{ .InternalIp }}
{{ end }}
