Host bastion
    HostName {{ .BastionHostname }}
	User centos
	ControlMaster auto
	ControlPersist 5m
	ControlPath ~/.ssh/ansible-%r@%h:%p
    StrictHostKeyChecking no
    ProxyCommand none
    CheckHostIP no
    ForwardAgent yes

Host 10.10.*
	ProxyCommand ssh -o StrictHostKeyChecking=no -W %h:%p centos@bastion
	StrictHostKeyChecking no
